PORT=8888
API_BASE_URL=http://localhost:8888
FRONTEND_URL=http://localhost:5434

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=novexdeploy

REDIS_ADDR=localhost:6379

GITHUB_CLIENT_ID=replace_me
GITHUB_CLIENT_SECRET=replace_me

USE_DOCKER_BUILDS=0
